<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186875538514-6gmglrq1n7g9d5qmbci4qbbj48o62c6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186875538514-6gmglrq1n7g9d5qmbci4qbbj48o62c6j</string>
	<key>API_KEY</key>
	<string>AIzaSyBVvp1JHanDTTGgjKudGdnHbsIxQU0Qws0</string>
	<key>GCM_SENDER_ID</key>
	<string>186875538514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoListAndroidIos</string>
	<key>PROJECT_ID</key>
	<string>flutterchatapp-5662e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatapp-5662e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186875538514:ios:70547af971bdaa37d2438b</string>
</dict>
</plist>